.add{
    background-color:#1E1B1B;
    padding: 8px;
    margin-top:20px;
    margin-right: 15px;
    border-radius: 6px;
    color: white;
    border-style: none;
}

.add:hover{
    background-color:#777474;
}

.reset{
    background-color:#DB3535;
    padding: 8px;
    margin-top:20px;
    margin-right: 8px;
    border-radius: 6px;
    color: white;
    border-style: none;
}

.reset:hover{
    background-color:#E99823;
}

input.form-control,input.form-control:focus{
    background:#F0F0FF;
}

.error{
    position:absolute;
    color: red;
    font-size: .6rem;
}
.back{
    background-color:blue;
    padding: 8px;
    margin-top:20px;
    margin-left: 280px;
    border-radius: 6px;
    color: white;
    border-style: none;
}
.back:hover{
    background-color: aqua;
}